
h2{  /* este estilo afecta a todos los h2 de INDEXCSS.html*/
    font-size: 60px;
    color: rgb(160, 117, 60);
    background-color: rgb(223, 207, 183);
}

.textomorado { /* clase css color morado y letra lucidasans*/
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.claseContenedorDiv1 { /* afectara a algunos contenedores div */
font-size: 40px;
width: 900px;
height: 600px;
background-color: rgb(120, 192, 192);
}

#fondonaranja { /* identificador que solo afecta  uma etiqueta*/
    background-color: darkorange;
    font-size: 50px;
    text-align: center;
}

.textomorado:hover{ /* pseudoclase que afecta al posicionarte con mouse */
    background-color: cornflowerblue;
    color: darkblue;
}

.claseContenedorDiv1::first-letter{ /* pseudoelemmento que afecta a la primera letra */
    font-size: 70px;
    color: darkslateblue;
}
 
.clase_Static {
    font-size: 20px;
    background-color: aqua;
    position:static;  
    margin-top: 0px;
   margin-left:20px ;
   margin-right:80px; 
}

.clase_Static2 {
    font-size: 20px;
    background-color: aqua;
    position:static;  
    top: 20px;  /* esto no funciona en static */
    left:80px ;  /* esto no funciona en static */
    right:200px;  /* esto no funciona en static */
    
}

.clase_Relative{
    font-size: 20px;
    background-color: rgb(187, 218, 77); 
    height: 250px;
    width: 200px;
}
.clase_Relative:hover {
    position:relative; 
    top: 100px;
    left: 100px;
    z-index: -5;
    /* z-index para colocar adelante o atras en profundidad respecto a otro elemento  */
}

.clase_Relative2{
    font-size: 20px;
    background-color: rgb(187, 218, 77); 
    height: 250px;
    width: 200px;
}
.clase_Relative2:hover {
    position:relative; 
    margin-top: 100px;
    margin-left: 100px;
    
    
}

.clase_Absolute {
    font-size: 20px;
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 100px;

}

.clase_Relative3 {
    font-size: 20px;
    background-color:chartreuse ;
    height: 250px;
    width: 200px;
    position: relative;

}

.clase_AbsoluteRelative {
    font-size: 20px;
    background-color:chartreuse ;
    height: 250px;
    width: 150px;
    position: absolute;
    bottom: 300px; /* de abajo hacia arriba osea sube*/
    left: 600px;
    z-index: -5;

}

.clase_Fixed {
    height: 200px;
    width: 150px;
    position: fixed;
    left: 500px;
    bottom: 0px;
    z-index: -10;
    

}

.marca_agua{
    opacity: 0.3;
    pointer-events: none;
    z-index: 999;

}

.clase_Sticky {
    position:sticky;
    font-size: 40px;
    top: 0px;
    left: 40px;
    height: 300px;

}

.bloque { /* estilo display por defecto*/
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: aquamarine;
}

.tipoinlineblock { /* estilo display inine-block */

    background-color: rgb(255, 47, 0);
    font-size: 30px;
    margin: 10px;
    color: rgb(127, 255, 185);
    display:inline-block;
    width:500px ;
}

.enlinea {
    background-color: red;
    display: inline;
    font-size: 30px;
    margin: 2px;
    color: beige;
    width: 80px;
    height: 40px;
}

.tiponone {  /* estilo display none */
    background-color: blue;
    font-size: 20px;
    margin: 20px;
    color: aquamarine;
    display: none;
}

.tipohidden {
    font-size: 20px;
    margin: 20px;
    color: rgb(94, 219, 178);
    visibility: hidden;
    height: 300px;
}

.tipoflex {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-between;
}

.claseNav {
    font-size:30px;
    padding-inline:0px;
    color: black;
    display:inline;
    list-style-type:none;

}

.claseNav a:hover {
    background-color: cadetblue;
}

